<!DOCTYPE html>
<html>

<head>
    <title>Dados do MongoDB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="bg-secondary
">
    <br>
    <div class="container">
        <h1 class="text-light

">Agendamentos Registrados</h1>
        <br>
        <table class="table table-striped table-dark table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Série</th>
                    <th>Horário</th>
                    <th>Data</th>
                    <th>Período</th>
                </tr>
            </thead>
            <tbody>
                <% consultas.forEach((item)=> { %>
                    <tr>
                        <td>
                            <%= item.id %>
                        </td>
                        <td>
                            <%= item.nome %>
                        </td>
                        <td>
                            <%= item.serie %>
                        </td>
                        <td>
                            <%= item.horario %>
                        </td>
                        <td>
                            <%= item.data %>
                        </td>
                        <td>
                            <%= item.periodo %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>